
<aside class="aside">

  <div class="aside__header">
    <div class="aside__header__user">
      <p class="aside__header__user-name">tatsuya</p>
    </div>

    <div class="aside__header__symbol">
      <a href="" class="new-group"><i class="fa fa-pencil-square-o fa-lg"></i></a>
      <a href="" class="edit-user"><i class="fa fa-cog fa-lg"></i></a>
    </div>
  </div>  <!-- END aside__header -->

  <ul class="aside__messages">
    <li class="aside__messages__chat-box">
      <p class="chat-group">sample</p>
      <p class="chat-message">fisrt message</p>
    </li>

    <li class="aside__messages__chat-box">
      <p class="chat-group">test</p>
      <p class="chat-message">second message</p>
    </li>
  </ul>  <!-- END aside__messages-->

</aside>

<main class="main">

  <section class="main__header">
    <div class="main__header__description">
      <h2 class="group-name">sample</h2>
      <div class="members">
        <p>Members:</p>
        <span class="members__user">yokokura</span>
        <span class="members__user">aatsuya</span>
      </div>
    </div>  <!-- END header__description -->

    <div class="main__header__edit">
      <a href="" class="header__edit--btn">Edit</a>
    </div>  <!-- END haeder__edit -->
  </section>  <!-- END main__header -->

  <section class="main__body">
    <ul class="main__body__chat-wrap">
      <li class="chat-box">
        <div class="chat-box__user">
          <p class="chat-box__user--name">tatsuya</p>
          <span class="chat-box__user--time">2018/04/11 20:00:05</span>
        </div>
        <p class="chat-box__message">チャット書き込み</p>
      </li>

      <li class="chat-box">
        <div class="chat-box__user">
          <p class="chat-box__user--name">tatsuya</p>
          <span class="chat-box__user--time">2018/04/11 20:00:05</span>
        </div>
        <p class="chat-box__message">チャット書き込み</p>
      </li>
    </ul>
  </section>  <!-- END main__chatBody -->

  <section class="main__footer">
    <form action="" method="">
      <div class="footer__form">
        <input type="text" class="message-box" placeholder="type a message">
        <label for="message-image">
          <input type="file" id="message-image">
          <i class="fa fa-image fa-lg photo-icon"></i>
        </label>
      </div>
      <div class="message-submit">
        <input type="submit" value="Send" class="submit-btn">
      </div>
    </form>
  </section>  <!-- END main__footer -->

</main>
