
<aside id="aside">

  <div class="aside__header">
    <div class="aside__header__user">
      <p class="aside__userName">tatsuya</p>
    </div>

    <div class="aside__symbol">
      <a href="" class="newGroup"><i class="fa fa-pencil-square-o fa-lg"></i></a>
      <a href="" class="editUser"><i class="fa fa-cog fa-lg"></i></a>
    </div>
  </div>  <!-- END aside__header -->

  <ul class="aside__messages">
    <li class="aside__chatBox">
      <p class="aside__chatGroup">sample</p>
      <p class="aside__chatMessage">fisrt message</p>
    </li>

    <li class="aside__chatBox">
      <p class="aside__chatGroup">test</p>
      <p class="aside__chatMessage">second message</p>
    </li>
  </ul>  <!-- END aside__messages-->

</aside>

<main id="main">

  <section class="main__header">
    <div class="header__description">
      <h2 class="header__chatGroup">sample</h2>
      <div class="header__members">
        <p>Members:</p>
        <span class="header__user">yokokura</span>
        <span class="header__user">aatsuya</span>
      </div>
    </div>  <!-- END header__description -->

    <div class="haeder__edit">
      <a href="" class="header__edit--btn">Edit</a>
    </div>  <!-- END haeder__edit -->
  </section>  <!-- END main__header -->

  <section class="main__chatBody">
    <ul class="main__chatWrap">
      <li class="main__chatBox">
        <div class="chatBox__user">
          <p class="userName">tatsuya</p>
          <span class="time">2018/04/11 20:00:05</span>
        </div>
        <p class="chatBox__message">チャット書き込み</p>
      </li>

      <li class="main__chatBox">
        <div class="chatBox__user">
          <p class="userName">tatsuya</p>
          <span class="time">2018/04/11 20:00:05</span>
        </div>
        <p class="chatBox__message">チャット書き込み</p>
      </li>
    </ul>
  </section>  <!-- END main__chatBody -->

  <section class="main__footer">
    <form action="" method="">
      <div class="messageForm">
        <input type="text" class="messageBox" placeholder="type a message">
        <label for="messageImage">
          <input type="file" id="messageImage">
          <i class="fa fa-image fa-lg photoIcon"></i>
        </label>
      </div>
      <div class="messageSubmit">
        <input type="submit" value="Send" class="submitBtn">
      </div>
    </form>
  </section>  <!-- END main__footer -->

</main>
